*{margin:0px;padding:0px;}
img{max-width:100%;}
body{
background:#00cccc;
}
.main{
	padding:50px 0;
}
.content{
	margin:18px auto;
	width:420px;
	background:#ddd;
	border:1px solid #00ffff;
}
#home_page:hover{font-weight:bold;}
#home_page{background:#0cc;}
#home_page a{color:#00f;text-decoration:none;}
.delopy-url{color:#00f;}

p.footer {
	font-size:16px;
    text-align: center;
    color: #000;
    font-weight: 500;
	margin-top:30px;
}
div.content p{
text-align:center;
padding:18px;
font-size:20px;
}

div.logo{
text-align:center;}



