*{margin:0;padding:0;}
.contenter{width:100%;}
.main-content{width:960px;margin:0 auto;}
.declaration p{text-align:center;}
.declaration a{text-decoration:none;}
.declaration{width:100%;margin:20px 0px;}
body{background:#efefef}
.video-player{width:100%;background:#fff;}
.video-title{width:920px;padding:20px;background:#f8f8f8}
.class-post{font-size:16px;color:#888;line-height:40px;}
#bofqi{width:100%;}
