<!--keywords "爱自由,影视吧aiziyou,"-->
<!--description "爱自由-影视吧(aiziyou.co)本站包含众多影视资源"-->
<!--statement 爱自由-影视吧(aiziyou.co)本站包含众多影视资源-->
<!--keywords description title delopy_css_url logo_img_url home_url delopy_url statement-->
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content={{keywords}}>
    <meta name="description" content={{description}}>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href={{delopy_css_url}} type="text/css">
</head>
<body>
<div class="main">
    <div class="logo"><img src={{logo_img_url}} alt="爱自由-电影吧" border="0"></div>

    <div class="content">
        <p>全网资源</p>
        <p id="home_page"><a href={{home_url}} >主页</a></p>
        <p></p><br>
        <p class="delopy-url">{{delopy_url}}</p><br>
        <p></p><br>
    </div>
    <p class="footer">© 2018 {{delopy_url}}. All Rights Reserved.
    </p>
    <p style="display:none;">{{statement}}<br></p>
</div>
</body>
</html>